.card{
  font-size: 1vw;
}
input{
  font-size: 1vw;
}
.mini-title{
  font-size: 1.2vw;
  color: #172c4d;
  font-weight: 500;
  padding: 15px 20px;
}
.image-delete{
    position: absolute;
    top: -5px;
    right: 10px;
    color: #9f8d87;
    font-size: 25px;
    cursor: pointer;
}
