<div class="menu-fixed col-12 p-0">
  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded custom-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- <a class="navbar-brand">Hidden brand</a> -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 box-links">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">
            <hr class="linear-edge-left">
            <div class="menu-title">
              QUIENES SOMOS
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">
            <hr class="linear-edge-left">
            <div class="menu-title">
              PRODUCTOS
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              CONTACTO
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              MULTIMEDIA
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <img src="assets/logo-grana.png" alt="" class="logo-portada">
    </div>
  </div>
</div>
<div class="container-products">
  <div class="row justify-content-sm-center">
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <div class="search-box">
            <label for="search">BUSCADOR</label>
            <input type="text" class="form-control" id="inputSearch" placeholder="Buscar...">
          </div>
          <div class="list-categories">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let object of listCategories">
                <span><i class="fas fa-angle-right" style="position: absolute; margin-left: 85%;"></i></span>
                {{object.name}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-8">
          <div class="header-product">
            ALFARERIA
          </div>
          <hr style="border-top: 2px solid rgb(255, 255, 255); width:100%;">
          HOLA
        </div>
      </div>
    </div>
  </div>
</div>
