<div class="menu-fixed col-12 p-0">
  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded custom-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- <a class="navbar-brand">Hidden brand</a> -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 box-links">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">
            <hr class="linear-edge-left">
            <div class="menu-title">
              QUIENES SOMOS
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">
            <hr class="linear-edge-left">
            <div class="menu-title">
              PRODUCTOS
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              CONTACTO
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              MULTIMEDIA
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <img src="assets/logo-grana.png" alt="" class="logo-portada">
    </div>
  </div>
</div>
<div class="container-products">
  <div class="row justify-content-sm-center">
    <div class="col-10">
      <div class="row">
        <div class="col-3">
          <div class="search-box">
            <label for="search">BUSCADOR</label>
            <input type="text" class="form-control" id="inputSearch" placeholder="Buscar...">
          </div>
          <div class="list-categories">
            <ul class="list-group">
              <li class="list-group-item custom-list" [ngClass]="{'custom-list-activated': object.selected}" *ngFor="let object of listCategories" (click)="colorCategory(object);">
                <span><i class="fas fa-angle-right" style="position: absolute; margin-left: 85%;"></i></span>
                {{object.name}}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-8">
          <div class="header-product">
            {{categoriesModel.name}}
          </div>
          <hr style="border-top: 2px solid rgb(255, 255, 255); width:100%;">
          <div class="row">
            <div class="col-sm-6 col-md-3" *ngFor="let object of productsList">
              <div class="box-item1"  (click)="open(content, object)">
                <figure class="rollover1">
                  <a>
                    <div class="box-photo1">
                      <img *ngIf="object.product.images.length > 0" src="{{object.product.images[0].image}}" alt="{{object.product.name}}">
                      <img *ngIf="object.product.images.length == 0" src="assets/no-diposible.png" alt="Holas">
                    </div>
                  </a>
                </figure>
                <div class="box-info">
                  <div class="content">
                    <div class="row">
                      <div class="col-12" style="text-align:center; font-size:0.7rem; text-transform: uppercase;">
                        {{object.product.name}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="productsList.length == 0" class="col-12" style="color:white;text-align:center;">
              <h5> NO HAY RESULTADOS</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{productModel.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true" style="position: absolute; margin-top: -7%; margin-left: -1%;">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-4">
        <div class="main-modal-image">
          <img *ngIf="productModel.images.length > 0" src="{{productModel.images[0].image}}" alt="{{productModel.name}}">
          <img *ngIf="productModel.images.length == 0" src="assets/no-diposible.png" alt="No-hay-imagen">        </div>
      </div>
      <div class="col-6" style="text-align: center; font-size: 9pt; font-weight: 400;">
        <div *ngIf="productModel.technique != ''">
          <strong>Técnica: </strong> {{productModel.technique}} <br>
        </div>
        <div *ngIf="productModel.measurements != ''">
          <strong>Medidas: </strong> {{productModel.measurements}} <br>
        </div>
        <div *ngIf="productModel.color != ''">
          <strong>Color: </strong> {{productModel.color}} <br>
        </div>
        <div *ngIf="productModel.town != ''">
          <strong>Poblado: </strong> {{productModel.town}} <br>
        </div>
        <div *ngIf="productModel.region != ''">
          <strong>Región: </strong> {{productModel.region}} <br>
        </div>
        <div *ngIf="productModel.description != ''">
          <strong>Descripción: </strong> {{productModel.description}} <br>
        </div>
        <div *ngIf="productModel.price != ''" style="color: #64192c !important;font-size: 11pt;">
          <strong>Precio: </strong> $ {{productModel.price}} <br>
        </div>
        <div class="row">
          <div class="col-4" *ngFor="let object of productModel.images">
            <img src="{{object.image}}" alt="{{object.image}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
