.menu-fixed{
  position: fixed;
  z-index: 1200;
}
.custom-nav{
  max-height: 3rem;
  z-index: 10000;
  background-color: #1f140f;
  box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
  background-image: url('/assets/patron-06.png');
  background-size: 15rem;
}
.logo-portada{
  width: 100%;
}
.box-links{
  margin-left: 25%;
}
.navbar-light .navbar-nav a.nav-link{
  color: white !important;
  font-family: 'stayWildy';
  font-size: 16pt;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 0px;
  overflow: hidden;
}
/* .navbar-light .navbar-nav a.nav-link.active { */
  /* border-bottom: 3px solid white; */
  /* border-top: 3px solid white; */
  /* border-radius: 0px; */
/* } */
 /* .navbar-light .navbar-nav a.nav-link.active:hover{ */
   /* border-bottom: 2px solid white;
   border-top: 2px solid white; */
   /* border-radius: 0px; */
   /* transition: all .3s linear; */
/* } */
.navbar-light .navbar-nav a.nav-link.active > .linear-edge-left{
  margin: 0%;
}
.navbar-light .navbar-nav a.nav-link.active > .linear-edge-rigth{
  margin: 0%;
}
.navbar-light .navbar-nav a.nav-link:hover > .linear-edge-left{
  margin: 0%;
}
.navbar-light .navbar-nav a.nav-link:hover > .linear-edge-rigth{
  margin: 0%;
}
.linear-edge-left{
border-top: 2px solid rgb(255, 255, 255);
margin: 50%;
margin-bottom: 0;
margin-top: 0;
transition: all .3s linear;
}
.linear-edge-rigth{
border-top: 2px solid rgb(255, 255, 255);
margin: 50%;
margin-bottom: 0;
margin-top: 0;
transition: all .3s linear;
}
/*Estilos del contenedor*/
.container-products{
  background-size: 15rem;
  background-color: #1f140f;
  background-image: url("/assets/patron-06.png");
  padding-top: 10%;
  min-height: calc(100vh);
}

.header-product{
  color: white;
  font-size: 1.5vw;
}

.search-box {
    background: #65192d;
    padding: 10px;
    border-radius: 15px;
    color: white;
    margin-top: -15%;
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-categories{
  margin-top: 5%;
}
.custom-list:hover{
  background: #651a2e;
  color: white;
  cursor: pointer;
}
.custom-list-activated{
  background: #651a2e;
  color: white;
  cursor: pointer;
}
/*Estilos de listado de productos*/
.box-item1{
  position: relative;
  width: 100%;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  background: white;
  margin-bottom: 10%;
}
.rollover1{
  /* display: block; */
  background: #E6EAEA;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 10px;
}
.box-photo1 img{
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.box-item1:not(.no-hover):hover .box-photo1 img {
    opacity: 0.5;
}

.box-item1:hover:not(.no-scale) .box-photo1 img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
figure {
    position: relative;
    display: inline-block;
}

.rollover1 .box-photo1 {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: #fff;
    height: 150px;
}

img {
    width: 100%;
    float: left;
}

.rollover1 img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin: 25% auto;
}
.lazy-loaded {
    opacity: 1;
}
figure img {
    display: block;
    max-width: 100%;
    height: auto;
}

.box-info {
  position: relative;
  clear: both;
  background-color: #fcfcfc;
  margin-top: -5px;
  height: 80px;
}
.box-item1 div.content {
    padding: 20px;
}
/*Estilso del modal*/
.modal-content-products{
  margin-top: 15%;
  width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.modal-content-products .modal-content{
  width: 100%
}
.modal-header{
    border: none;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    margin: 10px auto;
    text-transform: uppercase;
    color: #65192d;
    font-size: 1.2vw;
    font-weight: 700;
}
