.logo{
  max-width: 100%;
}
.login{
  height: calc(100vh);
  background-size: 15rem;
  background-color: #650d27;
  background-image: url("/assets/patron-05.png");
}
.login-card{
  padding: 40px;
  background: #fffdfd87;
  border-radius: 12px;
}
