<div class="menu-fixed col-12">
  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded custom-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- <a class="navbar-brand">Hidden brand</a> -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 box-links">
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              QUIENES SOMOS
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              PRODUCTOS
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              CONTACTO
              <hr class="linear-edge-rigth">
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              MULTIMEDIA
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-3 col-sm-6">
      <img src="assets/logo-grana.png" alt="" class="logo-portada">
    </div>
  </div>
</div>

  <div class="container-section">
    <section class="section-1">
      <div class="grid row">
        <ul class="list-items list-flex">
          <li class="col-10 col-md-3">
            <div class="box-item">
              <div  class="box-title">
                Alfareria
              </div>
              <a class="btn-custom category-btn">ENTRAR</a>
              <figure class="rollover">
                <a>
                  <div class="box-photo">
                    <img src="/assets/p1.jpg" alt="">
                  </div>
                </a>
              </figure>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="section-2">
    </section>
    <section class="section-3">
    </section>
    <section class="section-4">
    </section>
  </div>
