.menu-fixed{
  position: fixed;
  z-index: 1200;
}
.custom-nav{
  max-height: 3rem;
  z-index: 10000;
  background-color: #1f140f;
  box-shadow: 0 8px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
  background-image: url('/assets/patron-06.png');
  background-size: 15rem;
}
.logo-portada{
  width: 100%;
}
.box-links{
  margin-left: 25%;
}
.navbar-light .navbar-nav a.nav-link{
  color: white;
  font-family: 'stayWildy';
  font-size: 16pt;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 0px;
  overflow: hidden;
}
/* .navbar-light .navbar-nav a.nav-link.active { */
  /* border-bottom: 3px solid white; */
  /* border-top: 3px solid white; */
  /* border-radius: 0px; */
/* } */
 /* .navbar-light .navbar-nav a.nav-link.active:hover{ */
   /* border-bottom: 2px solid white;
   border-top: 2px solid white; */
   /* border-radius: 0px; */
   /* transition: all .3s linear; */
/* } */
.navbar-light .navbar-nav a.nav-link:hover > .linear-edge-left{
  margin: 0%;
}
.navbar-light .navbar-nav a.nav-link:hover > .linear-edge-rigth{
  margin: 0%;
}
.linear-edge-left{
border-top: 2px solid rgb(255, 255, 255);
margin: 50%;
margin-bottom: 0;
margin-top: 0;
transition: all .3s linear;
}
.linear-edge-rigth{
border-top: 2px solid rgb(255, 255, 255);
margin: 50%;
margin-bottom: 0;
margin-top: 0;
transition: all .3s linear;
}
/* Estilos de la seccion 1*/
.container-section{
  top: 10%;
  background-size: 15rem;
  background-color: #650d27;
  background-image: url("/assets/patron-05.png");
  padding-top: 20%;
}
.section-1{
  height: calc(100vh);
}
.section-2,.section-3,.section-4{
  padding-top: 50px;
}
.list-items {
    width: 100%;
}

.list-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.list-items .box-item {
    position: relative;
    width: 100%;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.list-flex .box-item, .list-flex .box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.list-items figure, .list-items figure img {
    width: 100%;
    float: left;
}

.rollover {
    display: block;
    background: #E6EAEA;
    -webkit-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}
.box-item:not(.no-hover):hover .box-photo img {
    opacity: 0.5;
}

.box-item:hover:not(.no-scale) .box-photo img {
    -webkit-transform: scale(2);
    transform: scale(2);
}
figure {
    position: relative;
    display: inline-block;
}

.rollover .box-photo {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: #000;
}

img {
    width: 100%;
    float: left;
}

.rollover img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.lazy-loaded {
    opacity: 1;
}
figure img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*Estilos de titulos de categorias*/
.box-title{
  position: absolute;
    z-index: 1001;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    top: 20%;
    left: 25%;
    font-family: 'stayWildy';
    font-variant-caps: all-petite-caps;
    text-shadow: 2px 2px 3px #000;
    transition: all .7s linear;
}
.box-item:hover > .box-title {
  top: 10%;
}
.category-btn{
  top: 50%;
  position: absolute;
  z-index: 1001;
  left: 0;
  opacity: 0;
  transition: all .7s linear;
  padding: 10px 20px;
  font-size: 1.4rem;
  text-shadow:none;
}
.box-item:hover > .box-title .category-btn {
  opacity: 1;
}
/*Estilos de seccion de quienes somos*/
.box-quienes-somos{
  color: white !important;
  text-align: justify;
  padding-right: 20px;
  font-size: 1.5vw;
}
.box-quienes-somos-left{
  color: white !important;
  text-align: justify;
  padding-left: 20px;
  font-size: 1.5vw;
}
.quotate-grana{
  color: white;
  font-family: 'stayWildy';
  background: #0000006b;
  font-size: 3vw;
  height: 3rem;
  margin-top: 3%;
  text-align: center;
  text-transform: capitalize;
  margin-top: -10%
}
/* Estilos de footer*/
.footer{
  background-color: #e2e2e291;
  background-image: url('/assets/patron-07.png');
  background-size: 15rem;
}
.footer-address{
  display: inline-grid;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 500;
}
.footer-address img{
  align-items: center;
  margin:10px auto;
  display:block;
}
.social-icons{
  display: inline-grid;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 500;
}
.social-icons a{
  align-items: center;
  margin:5px auto;
  display:block;
  color: black;
}
.social-network{
  margin-top: 5%;
}
