<div class="menu-fixed col-12">
  <nav class="navbar navbar-toggleable-sm navbar-light bg-faded custom-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- <a class="navbar-brand">Hidden brand</a> -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 box-links">
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              QUIENES SOMOS
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              PRODUCTOS
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              CONTACTO
              <hr class="linear-edge-rigth">
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <hr class="linear-edge-left">
            <div class="menu-title">
              MULTIMEDIA
            </div>
            <hr class="linear-edge-rigth">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-3 col-sm-6">
      <img src="assets/logo-grana.png" alt="" class="logo-portada">
    </div>
  </div>
</div>

  <div class="container-section">
    <div class="row justify-content-md-center">
      <div class="col-10">
        <section class="section-1">
          <div class="grid row">
            <ul class="list-items list-flex">
              <li class="col-10 col-md-3">
                <div class="box-item">
                  <div  class="box-title">
                    Alfareria
                  </div>
                  <a class="btn-custom category-btn">ENTRAR</a>
                  <figure class="rollover">
                    <a>
                      <div class="box-photo">
                        <img src="/assets/p1.jpg" alt="">
                      </div>
                    </a>
                  </figure>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="section-2">
          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6 box-quienes-somos">
              <h4>QUIENES SOMOS</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-4 pl-5 pb-5">
              <img src="assets/quienes-somos-1.png" alt="Quienes-Somos" style="width:100%; left:25%;">
            </div>
            <div class="col-6 col-md-8">
              <div class="box-quienes-somos">
                <strong>Grana, Manos Artesanas</strong> somos una empresa Oaxaqueña que rescata
                  el valor de los artículos fabricados por mestras y maestros artesanos dando
                  a conocer el valor intrínseco de nuestro productos, fortaleciendo la actividad
                  artesanal, abriendo canales de comercialización y mecanismos que ayuden a competir
                  en productividad y precio.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-8">
              <div class="box-quienes-somos-left">
                <strong>Grana, Manos Artesanas</strong> tiene el firme compromiso con artesanos,
                productores, clientes y con todos los que participan en nuestro proyecto para contribuir
                al mejoramiento integral de la actividad artesanal mediante el rescate y preservación de los
                oficios y la tradición, promoviendo la ciencia comercial, el desarrollo de producto y la comercialización
                todo en contexto de preservar los usos, constumbres y tradiciones de manera que aseguran la
                sustantibilidad de la actividad artesanal y el bienestar de los artesanos del Estado de Oaxaca
                y México.
              </div>
            </div>
            <div class="col-6 col-md-4">
              <img src="assets/quienes-somos-2.png" alt="Quienes-Somos-2" style="
              width: 100%;
              padding:10px;
              ">
            </div>
            <div class="quotate-grana col-12">
              Nosotros somos Grana Manos Artesanas y te invitamos a conocernos...
            </div>
          </div>
        </section>
        <section class="section-3">
          <div class="row">
            <div class="col-6">
              <div class="box-quienes-somos-left">
                <h4>MISIÓN</h4>
                Donec suscipit tortor nunc, sit amet scelerisque libero vestibulum in.
                Praesent at iaculis enim, sed dictum purus. Praesent vel interdum est,
                id tristique metus. Duis semper augue quis neque varius, eu ullamcorper
                massa volutpat. Duis eu nisi quam. In erat sapien, sollicitudin vitae ligula nec,
                posuere accumsan nunc. Morbi lacinia feugiat nisi, nec tincidunt tellus luctus luctus.
                Proin sed volutpat nunc. In feugiat lorem molestie diam pulvinar blandit. Ut pharetra
                lorem orci, a vehicula turpis consequat vitae. Morbi in eros consequat lectus tincidunt
                rhoncus.
              </div>
            </div>
            <div class="col-6">
              <img src="assets/mision.png" alt="mision">
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-6">
              <img src="assets/vision.png" alt="mision" >
            </div>
            <div class="col-6 box-quienes-somos">
              <h4>VISIÓN</h4>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus nibh non mi mattis,
              eget convallis ipsum fringilla. Praesent in euismod magna, varius lacinia leo. Donec in
              bibendum sapien. Nulla quis quam rhoncus, efficitur enim non, commodo ex. Cras tempus erat
              id elit faucibus, quis ultricies eros imperdiet. Quisque molestie arcu sit amet lacus euismod,
              id fringilla erat sagittis. Phasellus mattis tellus quis laoreet rhoncus.
            </div>
          </div>
        </section>
        <section class="section-4">
        </section>

      </div>
    </div>
  </div>
